{{ ansible_managed | comment }}
[Unit]
Description=openedx@tutor
Documentation={{ tutor_documentation_link }}
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp={{ tutor_private_tmp }}
User={{ tutor_user }}
Group={{ tutor_group }}
RuntimeDirectory=tutor
LimitNOFILE={{ tutor_max_files }}
WorkingDirectory={{ tutor_venv_path }}
ExecStart={{ tutor_venv_path }}/{{ tutor_exec_name }} {{ tutor_start_arguments }}
ExecReload={{ tutor_venv_path }}/{{ tutor_exec_name }} {{ tutor_reload_arguments }}
KillSignal=SIGTERM
Environment="TUTOR_ROOT={{ tutor_venv_path }}/config"
Environment="TUTOR_PLUGINS_ROOT={{ tutor_venv_path }}/config/plugins"
Restart=always

[Install]
WantedBy=multi-user.target
